<!DOCTYPE html>
<html lang="pt-BB">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue.js</title>
    </head>

    <body>
        <div id="hello-word">

            <fieldset>
                <legend>template</legend>
                <div v-html="htmlContent"></div>
                <p>Nome: {{firstName}}</p>
                <p>Sobrenome: {{lastName}}</p>
                <p>Idade: {{age}}</p>
                <p>{{ age >= 18 ? 'Maior de Idade' : 'Menor de idade' }}</p>
            </fieldset>

            <fieldset>
                <legend>methods</legend>
                <button v-on:click="incrementAge">Increment age</button>
                <button @click="decrementAge">Decrement age</button>
            </fieldset>

            <fieldset>
                <legend>computed properts</legend>
                <p>Nome completo: {{fullName}}</p>
                <p>Nome completo (por expressão): {{getFullName}}</p>
            </fieldset>

            <fieldset>
                <legend>watchers</legend>
                <label for="input-address">Endereço: </label>
                <input type="text" id="input-address" v-model="address">
            </fieldset>

            <fieldset>
                <legend>v-if</legend>
                <label for="input-grade">Nota: </label>
                <input type="text" id="input-grade" v-model="grade">
                <p v-if="grade < 60 ">Reprovado</p>
                <p v-else-if="grade >= 60 && grade < 98">Reprovado</p>
                <p v-else-if="grade >= 98">Aprovado com excelência!</p>
                <p v-else=>Valor Inválido!</p>
            </fieldset>

            <fieldset>
                <legend>v-Show</legend>
                <button v-show="!isUserLogged" @click="isUserLogged = true">Login</button>
                <button v-show="isUserLogged" @click="isUserLogged = false">Logout</button>
            </fieldset>

            <fieldset>
                <legend>v-text</legend>
                <p v-text="firstName"></p>
            </fieldset>

            <fieldset>
                <legend>v-html</legend>
                <p v-html="htmlContent"></p>
            </fieldset>

            <fieldset>
                <legend>v-once</legend>
                <p v-once>{{ count }}</p>
                <p>{{ count }}</p>
                <button @click="count++">+</button>
            </fieldset>

            <fieldset>
                <legend>v-for</legend>
                <h4>Marcas</h4>
                <ul>
                    <li v-for="brand in carBrands">{{brand}}</li>
                </ul>
                <h4>Carros</h4>
                <ul>
                    <li v-for="car in cars">{{car.name}} ({{car.brand}})</li>
                </ul>
                <h4>Carro</h4>
                <ul>
                    <li v-for="(value, key, index) in car">{{index}} - {{key}} - {{value}}</li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>v-bind</legend>
                <a v-bind:href="urlIgti" :title="urlIgtiDdescription">IGTI</a>
                <br>
                <a :href="urlIgti" v-bind:[argument]="urlIgtiDdescription">IGTI</a>
                <br>
                <a :href="urlIgti" title="Clique aqui para acessar o site IGTI">IGTI</a>

            </fieldset>
        </div>

        <script src="https://unpkg.com/vue@3.0.4"></script>
        <script>
            const app = {
                data() {
                    return {

                        htmlContent: "<p>Hello World Vue.js</p>",
                        firstName: "Rafael",
                        lastName: "Alexandre",
                        age: 10,
                        address: "",
                        grade: 0,
                        isUserLogged: false,
                        count: 1,
                        carBrands: ['VW', 'Fiat', 'Renault'],
                        cars: [{ name: 'KA', brand: 'Ford' }, { name: 'Palio', brand: 'Fiat' }, { name: 'Sandero', brand: 'Renault' }],
                        car: { name: 'KA', brand: 'Ford', year: 2010, km: 60000 },
                        urlIgtiDdescription: "Clique aqui para acessar o site IGTI",
                        urlIgti: "https://www.igti.com.br",
                        argument: "title"
                    }
                },
                methods: {
                    incrementAge: function () {
                        //console.log(this.age);
                        this.age++;
                    },
                    decrementAge() {
                        //console.log(this.age);
                        this.age--;
                    },
                    getFullName() {
                        return `${this.firstName} ${this.lastName}` //Não Armazena em cache

                    }
                },
                computed: {
                    fullName: function () {
                        return `${this.firstName} ${this.lastName}` //Armazena em cache
                    }
                },
                watch: {
                    address: function (newValue, oldValue) {
                        console.log(newValue);
                        console.log(oldValue);
                    }
                }

            }

            const vm = Vue.createApp(app).mount("#hello-word")
        </script>
    </body>

</html>